<h1><%= @post.name %></h1>
<p>
  <strong>Image:</strong>
  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
</p>

<div id="map" style="height: 500px; width: 100%;"></div>

<%= javascript_include_tag 'posts' %>

<script>
  function initMap() {
    var latitude = <%= @post.latitude %>;
    var longitude = <%= @post.longitude %>;
    console.log('Latitude:', latitude);
    console.log('Longitude:', longitude);

    if (isNaN(latitude) || isNaN(longitude)) {
      console.error('Invalid latitude or longitude');
      return;
    }

    var location = { lat: latitude, lng: longitude };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: location
    });

    var marker = new google.maps.Marker({
      position: location,
      map: map,
      draggable: true // マーカーをドラッグ可能にする
    });

    // マーカーをドラッグした後の位置を取得
    google.maps.event.addListener(marker, 'dragend', function(event) {
      var newLat = event.latLng.lat();
      var newLng = event.latLng.lng();
      console.log('New Latitude:', newLat);
      console.log('New Longitude:', newLng);
      document.querySelector('[name="post[latitude]"]').value = newLat;
      document.querySelector('[name="post[longitude]"]').value = newLng;
    });
  }

  document.addEventListener('turbo:load', function() {
    if (typeof google !== 'undefined') {
      initMap();
    }
  });
</script>